{% extends "adminBase.html" %} {% block content %}

<style>
	h1,
	td {
		color: rgb(21, 22, 22);
		padding: 15px;
	}
	input {
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em;  */
		border-style: none;
		font-size: 15px;
	}
	input[type='password'] {
		/* color: black; */
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em; */
		font-size: 15px;
		/* border-color: rgb(15, 15, 15); */
		border-style: none;
	}
	input[type='email'] {
		/* color: black; */
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em;  */
		font-size: 15px;
		/* border-color: rgb(15, 15, 15); */
		border-style: none;
	}

	button {
		height: 40px;
		width: 90px;
		color: black;
		background-color: cornflowerblue;
		border-radius: 2em;
		border-color: aliceblue;
		margin-left: 250px;
	}

	th {
		background-color: rgb(78, 154, 173);
		color: wheat;
		padding: 10px;
	}
</style>
<div class="formstyle">
	<center>
		<br />
		<br />
		<h1>Department</h1>
		<br />
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				<tr></tr>
				<tr>
					<td>
						<input
							type="text"
							class="form-control"
							required
							name="department"
							placeholder="Enter the department name"
							size="70"
						/>
					</td>
				</tr>
				<tr>
					<td>
						<button color="black"><b>ADD</b></button>
					</td>
				</tr>
			</table>
		</form>
	</center>
	<br />
	<br />
</div>
{% if data %}
<table id="tb" style="width: 80%; border-collapse: separate; margin: auto;">
	<tr>
		<th class="text-center">Sl/No.</th>
		<th class="text-center">Departmnt</th>
		<th class="text-center" colspan="2"></th>
	</tr>
	{% for s in data %}
	<tr>
		<td class="text-center">{{forloop.counter}}</td>
		<td class="text-center">{{s.programs}}</td>
		<td class="text-center">
			<a href="/adminDeleteDept?id={{s.id}}" class="btn btn-danger" >Delete</a
			>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %} {% if messages %} {% for msg in messages %}
<script>
	alert('{{msg}}');
</script>
{% endfor %} {% endif %} {% endblock %}
